<h1>New Visit</h1>
<%= form_for @visit do |f| %>
<%= f.label :doctor %>
<%= f.text_field :doctor %> <br/><br/>
<%= f.label :patient %>
<%= f.text_field :patient %><br/><br/>
<%= f.label :time %>
<%= f.text_field :time %><br/><br/>
<%= f.submit %>
<% end %>
