<h2>Information for <%= @patient.name %></h2>
<h3> <%= link_to "All Patients", patients_path %> </h3>

<div class="">
  Age: <%= @patient.age %>,&nbsp;&nbsp;
  Gender: <%= @patient.gender  %>
</div>

<%= link_to "Edit #{@patient.name}", edit_patient_path(@patient) %>
<%= link_to "Remove #{@patient.name}", patient_path(@patient),
  method: :delete, data: {confirm: "Remove from practice?"}  %>
