<h1>Appointments for Dr. <%= @doctor.name %></h1>
<% @appointments.each do |appointment| %>
  <%= link_to appointment.patient.name, patient_path(appointment.patient.id) %>
  <p>Date: <%= appointment.date %></p>
  <p>Time: <%= appointment.time %></p>
  <p>Note: <%= appointment.note %></p>
  <%= link_to "Edit Appointment", edit_appointment_path(appointment) %>
<% end %>
<h2> <%= link_to "All Doctors", doctors_path %> </h2>


<h2> Specialty: <%= @doctor.specialty %> </h2>
<%= link_to "Edit #{@doctor.name}", edit_doctor_path(@doctor)  %>
<%= link_to "Fire #{@doctor.name}", doctor_path(@doctor),
  method: :delete, data: {confirm: "Give unemployment?"}  %>
