<%= form_for @appointment do |f| %>

<p><%= f.label :patient %>
<%= f.select :patient_id, Patient.all.collect {|patient| [patient.name, patient.id]} %></p>

<p><%= f.label :doctor %>
<%= f.select :doctor_id, Doctor.all.collect {|doctor| [doctor.name, doctor.id]} %></p>

<p><%= f.label :appointment_date %>
<%= f.date_select :appointment_date %></p>

<p><%= f.label :appointment_time %>
<%= f.text_field :appointment_time %></p>

<p><%= f.submit %></p>

<% end %>
